.booking {
  background-color: var(--second-color);
  padding-top: 80px;
  padding-bottom: 80px;
}

.booking__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 46px;
}