.form__fieldset {
  display: flex;
  justify-content: space-between;
  border: none;
  margin-bottom: 60px;
}

.form__legend {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 40px;
}

.form__label {
  flex-basis: 250px;
  height: 55px;
}



.form__input-button {
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out;
  cursor: pointer;
  outline: none;
}

.form__input-button:hover {
  background-color: #EADEED;
  border: 3px solid var(--dark-purple);
}

.form__input-button:focus {
  border: 3px solid var(--dark-purple);
}

.form__input-button:active {
  color: #fff;
  background-color: var(--purple-color);
  border: 3px solid #FFFFFF;
}

.form__fieldset_game {
  max-width: 980px;
  margin: 0 auto 60px;
}

.form__fieldset-console {
  display: flex;
  flex-direction: column;
  flex-basis: 280px;
  border: none;
}

.form__legend_console {
  text-align: left;
  margin-bottom: 23px;
}

.form__label-console {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
}

.form__label-console:not(:last-child) {
  margin-bottom: 20px;
}

.form__input-radio {
  width: 27px;
  height: 27px;
  margin-right: 12px;
  transition: border 0.2s ease-in-out;
  outline: none;
}

.form__input-radio:focus {
  border: 1px solid var(--main-color);
}

.form__fieldset-desktop {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  border: none;
}

.form__legend_desktop {
  text-align: left;
  margin-bottom: 23px;
}

.form__input-checkbox{
  width: 25px;
  height: 25px;
  margin-right: 12px;
  transition: border 0.2s ease-in-out;
  outline: none;
}

.form__input-checkbox:focus {
  border: 1px solid var(--main-color);
}

.form__label-desktop {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
}

.form__label-desktop:not(:last-child) {
  margin-bottom: 20px;
}

.form__fieldset-optional {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  border: none;
}

.form__legend_optional {
  text-align: left;
  margin-bottom: 23px;
}

.form__label-optional {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
}

.form__label-optional:not(:last-child) {
  margin-bottom: 20px;
}

/* дата*/

.form__fieldset-time {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 14px;
  max-width: 980px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.form__legend-time {
  text-align: center;
  margin-bottom: 38px;
}

.form__label-wrapper {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 52px;
}

.form__label-count {
  width: 300px;
  height: 52px;
}

.form__label-name, 
.form__label-surname,
.form__label-phone,
.form__label-mail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 74px;
  font-size: 14px;
  line-height: 16px;
}

.form__input-date {
  width: 134px;
  height: 52px;
  transition: border 0.2s ease-in-out;
  outline: none;
}

.form__input-time {
  width: 134px;
  height: 52px;
  transition: border 0.2s ease-in-out;
  outline: none;
}


.form__input-name,
.form__input-surname {
  width: 280px;
  height: 52px;
  transition: border 0.2s ease-in-out;
  outline: none;
}


.form__input-count,
.form__input-phone, 
.form__input-mail {
  width: 300px;
  height: 52px;
  transition: border 0.2s ease-in-out;
  outline: none;
}

.form__input-date:focus,
.form__input-time:focus,
.form__input-name:focus,
.form__input-surname:focus,
.form__input-count:focus,
.form__input-phone:focus,
.form__input-mail:focus {
  border: 2px solid var(--main-color);
}

.form__wrapper-submit {
  display: flex;
  justify-content: flex-end;
  max-width: 980px;
  margin: 0 auto;
}

.form__submit {
  width: 300px;
  height: 60px;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  color: var(--purple-color);
  background-color: #FFFFFF;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px #ffffff;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
  outline: none;
}

.form__submit:hover {
  background-color: #EADEED;
  border: 3px solid var(--purple-color);
}

.form__submit:active {
  background-color: #EADEED;
  border: none;
}

.form__submit:focus {
  border: 3px solid var(--purple-color);
}