.header {
  padding-top: 30px;
  padding-bottom: 25px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  width: 120px;
  height: 66px;
}

.header__logo {
  width: 120px;
  height: 66px;
}

.header__logo-line {
  color: #CD06FF;
  transition: color 0.2s ease-in-out;
}

.header__logo-g {
  transition: color 0.2s ease-out;
}

.header__logo-o {
  transition: color 0.2s ease-in;
}

.header__link:hover .header__logo-g {
  color: #CD06FF;
}

.header__link:hover .header__logo-o {
  color: #CD06FF;
}

.header__link:hover .header__logo-line {
  color: #fff;
}

.header__order {
  max-width: 280px;
  min-height: 55px;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
  border: 3px solid #CD06FF;
  border-radius: 10px;
  padding-left: 32px;
  padding-right: 32px;
  outline: none;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.header__order:hover {
  background-color: #6C0287;
  border: 3px solid #6C0287;
}

.header__order:active {
  background-color: #640AA3;
  border: 3px solid #000000;
}

.header__order:focus {
  background-color: #6C0287;
  border: 3px solid #6C0287;
}

