.header {
  padding-top: 30px;
  padding-bottom: 25px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__btn-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 54px;
  height: 29px;
  background-color: transparent;
  border: none;
  outline: none;
}

.header__btn-menu span {
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--purple-color);
}

.header__btn-menu span:last-child {
  width: 31px;
}

.header__order {
  position: relative;
  top: 2px;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
  border: 3px solid var(--main-color);
  border-radius: 10px;
  padding-left: 32px;
  padding-right: 32px;
  outline: none;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
  padding: 11px 30px 10px;
}

.header__order:hover {
  background-color: var(--purple-color);
  border: 3px solid var(--purple-color);
}

.header__order:active {
  background-color: var(--dark-purple);
  border: 3px solid #000000;
}

.header__order:focus {
  background-color: var(--purple-color);
  border: 3px solid var(--purple-color);
}

@media (max-width: 1200px) {
  .header {
    padding-bottom: 15px;
  }

  .header__order {
    top: 1px;
    font-size: 18px;
    line-height: 24px;
    border-radius: 8px;
    padding: 7px 24px 8px;
  }
}

@media (max-width: 1000px) {
  .header {
    padding-top: 32px;
  }

  .header__btn-menu {
    position: relative;
    top: 3px;
    display: flex;
  }

  .header__order {
    top: 3px;
  }
}

@media (max-width: 576px) {
  .header {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  .header__btn-menu {
    top: 4px;
    width: 39px;
    height: 20px;
  }

  .header__btn-menu span {
    height: 4px;
  }

  .header__btn-menu span:last-child {
    width: 22px;
  }

  .header__order {
    display: none;
  }
}