.holiday {
  /* min-height: 808px; */
  padding-top: 50px;
  padding-bottom: 80px;
}

.holiday__title {
  max-width: 800px;
  font-weight: 700;
  font-size: 40px;  
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  padding-right: 11px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 44px;
}

.holiday__title span {
  padding-left: 11px;
}

.holiday__list {
  display: flex;
  flex-wrap: wrap;
  /* display: grid; */
  /* grid-template: repeat(2, 1fr) / repeat(3, 1fr); */
  /* grid-template: repeat(2, minmax(228px, 1fr)) / repeat(3, minmax(380px, 3fr)); */
  /* grid-template-columns: repeat(auto-fill, minmax(380px, 1fr)); */
  /* grid-template-rows: repeat(2, minmax(228px, 1fr)); */
  gap: 40px 20px;
}

.holiday__item {
  position: relative;
  /* flex-basis: 380px; */
  max-width: 380px;
  width: 100%;
  height: 228px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.2s ease-in-out;
}

.holiday__item:hover {
  transform: scale(1.1);
}

.holiday__item:nth-child(3n+2) {
  transform: translateY(70px);
}

.holiday__item:hover:nth-child(3n+2) {
  transform: scale(1.1) translateY(70px);
}

.holiday__item_vr {
  background-image: url('../img/holiday/vr.jpg');
}

.holiday__item_audio {
  background-image: url('../img/holiday/audio.jpg');
}

.holiday__item_karaoke {
  background-image: url('../img/holiday/karaoke.jpg');
}

.holiday__item_games {
  background-image: url('../img/holiday/games.jpg');
}

.holiday__item_movie {
  background-image: url('../img/holiday/movie.jpg');
}

.holiday__item_playstation{
  background-image: url('../img/holiday/play-station.jpg');
}

.holiday__description {
  position: absolute;
  top: 166px;
  left: 40px;
  max-width: 300px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

@media(max-width: 1240px) {
  .holiday {
    padding-top: 41px;
    padding-bottom: 35px;
  }

  .holiday__title {
    max-width: 560px;
    font-size: 30px;
    line-height: 40px;
    padding-right: 10px;
    margin-bottom: 36px;
  }

  .holiday__list {
    justify-content: center;
    gap: 30px 21px;
  }

  .holiday__item {
    max-width: 287px;
    height: 172px;
  }

  .holiday__item:nth-child(3n+2) {
    transform: translateY(52px);
  }

  .holiday__description {
    top: 114px;
    left: 20px;
  }

  .holiday__item_movie .holiday__description {
    top: 83px;
    max-width: 247px;
  }
}

@media(max-width: 1022px) {
  .holiday {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .holiday__title {
    max-width: 450px;
    font-size: 30px;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .holiday__list {
    gap: 20px;
  }

  .holiday__item {
    max-width: 334px;
    height: 200px;
  }

  .holiday__item:nth-child(3n+2) {
    transform: translateY(0px);
  }

  .holiday__item:hover:nth-child(3n+2) {
    transform: scale(1.1) translateY(0);
  }

  .holiday__description {
    top: 132px;
    left: 30px;
  }

  .holiday__item_movie .holiday__description {
    top: 132px;
    max-width: 267px;
  }
}

/*
@media (max-width: 1200px) {
  .holiday {
    padding-top: 41px;
    padding-bottom: 35px;
  }

  .holiday__title {
    max-width: 560px;
    font-size: 30px;
    line-height: 40px;
    padding-right: 10px;
    margin-bottom: 36px;
  }

  .holiday__list {
    gap: 30px 21px;
  }

  .holiday__item {
    height: 172px;
  }

  .holiday__item:nth-child(3n+2) {
    transform: translateY(52px);
  }

  .holiday__description {
    top: 114px;
    left: 20px;
  }

  .holiday__item_movie .holiday__description {
    top: 83px;
    max-width: 247px;
  }
}
*/


/*
@media (max-width: 1000px) {
  .holiday {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .holiday__title {
    max-width: 450px;
    font-size: 30px;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .holiday__list {
    grid-template: repeat(3, minmax(75px, 1fr)) / repeat(2, minmax(135px, 1fr));
    gap: 20px;
    justify-items: center;
  }

  .holiday__item {
    width: 334px;
    height: 200px;
  }

  .holiday__item:nth-child(3n+2) {
    transform: translateY(0px);
  }

  .holiday__description {
    top: 132px;
    left: 30px;
  }

  .holiday__item_movie .holiday__description {
    top: 132px;
    max-width: 267px;
  }
}
*/

@media(max-width: 600px) {
  .holiday {
    padding-top: 23px;
    padding-bottom: 15px;
  }

  .holiday__title {
    max-width: 280px;
    font-size: 14px;
    line-height: 18px;
    padding-right: 8px;
    margin-bottom: 15px;
  }

  .holiday__list {
    gap: 10px;
  }
  
  .holiday__item {
    max-width: 135px;
    height: 75px;
    background-size: cover;
  }

  .holiday__description {
    top: 30px;
    left: 10px;
    font-size: 10px;
    line-height: 14px;
  }

  .holiday__item_karaoke .holiday__description {
    max-width: 70px;
  }

  .holiday__item_movie .holiday__description {
    top: 30px;
    left: 10px;
    max-width: 115px;
  }
}
