.logo {
  width: 120px;
  height: 66px;
}

.logo__svg {
  width: 120px;
  height: 66px;
}

.logo__svg-line {
  color: var(--main-color);
  transition: color 0.2s ease-in-out;
}

.logo__svg-g {
  transition: color 0.2s ease-out;
}

.logo__svg-o {
  transition: color 0.2s ease-in;
}

.logo:hover .logo__svg-g {
  color: var(--main-color);
}

.logo:hover .logo__svg-o {
  color: var(--main-color);
}

.logo:hover .logo__svg-line {
  color: #fff;
}

.logo__svg-1024 {
  display: none;
}

@media (max-width: 1200px) {
  .logo {
    width: 87px;
    height: 55px;
  }

  .logo__svg {
    display: none;
  }

  .logo__svg-1024 {
    display: block;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 66px;
    height: 42px;
  }
}