.navigation__list {
  display: flex;
  gap: 40px;
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
}

.navigation__link {
  outline: none;
  transition: color 0.2s ease-in-out;
}

.navigation__link:hover {
  color: var(--purple-color);
}

.navigation__link:active {
  color: var(--dark-purple);
}

.navigation__link:focus {
  color: var(--light-purple);
}
