.navigation__list {
  display: flex;
  gap: 40px;
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
}

.navigation__link {
  outline: none;
  transition: color 0.2s ease-in-out;
}

.navigation__link:hover {
  color: #6C0287;
}

.navigation__link:active {
  color: #640AA3;
}

.navigation__link:focus {
  color: #840AA3;
}
