.reviews {
  padding-top: 50px;
  padding-bottom: 50px;
}

.reviews__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 43px;
}

.reviews__list {
  max-width: 990px;
  margin: 0 auto;
}

.reviews__item {
  display: flex;
  padding-left: 4px;
}

.reviews__item:not(:last-child) {
  margin-bottom: 50px;
}

.reviews__figure {
  position: relative;
  margin-right: 20px;
}

.reviews__figure::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 280px;
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
  background-repeat: no-repeat;
  border-radius: 50%;
}

.reviews__image {
  width: 280px;
  height: 280px;
  margin-bottom: 8px;
}

.reviews__name {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.reviews__description {
  max-width: 680px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding-top: 52px;
}
