.about {
  padding-top: 100px;
  padding-bottom: 50px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 47px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
}

.about__wrapper::before {
  content: '';
  display: inline-block;
  width: 100%;
  max-width: 600px;
  height: 596px;
  background-image: url('../../img/index/about/about-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.about__wrapper-wrap {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.about__wrapper-description {
  margin-bottom: 57px;
}

.about__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 28px;
}

.about__description:last-child {
  margin-bottom: 0;
}

.blockquote {
  display: flex;
  flex-direction: column;
  max-width: 476px;
}

.blockquote-description {
  position: relative;
  max-width: 430px;
  padding-left: 31px;
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.blockquote-description::before {
  position: absolute;
  top: -28px;
  left: 0;
  content: '\201F';
  transform: rotateX(180deg);
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  color: var(--purple-color);

}

.blockquote-description::after {
  position: absolute;
  bottom: 0;
  right: 40px;
  content: '\201F';
  transform: rotateY(180deg);
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  color: var(--purple-color);

}

.blockquote-author {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  max-width: 255px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.blockquote-author::before {
  position: absolute;
  top: 0;
  left: -110px;
  content: '';
  background-image: url('../../img/index/about/boss.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
}

.blockquote-author__cite {
  font-style: normal;
}

.contents {
  display: contents;
}

@media(max-width: 1200px) {
  .about {
    padding-top: 70px;
    padding-bottom: 35px;
  }

  .about__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
  }

  .about__wrapper::before {
    max-width: 420px;
    height: 418px;
  }

  .about__wrapper-wrap {
    max-width: 444px;
  }

  .about__wrapper-description {
    margin-bottom: 40px;
  }

  .about__description {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .blockquote {
    max-width: 100%;
  }

  .blockquote-description {
    max-width: 405px;
    font-size: 30px;
    line-height: 36px;
    padding-left: 25px;
    margin-bottom: 20px;
  }

  .blockquote-description::before {
    top: -22px;
    font-size: 30px;
    line-height: 36px;
  }

  .blockquote-description::after {
    right: 135px;
    font-size: 30px;
    line-height: 36px;
  }

  .blockquote-author {
    max-width: 225px;
    font-size: 18px;
    line-height: 26px;
  }

  .blockquote-author::before {
    top: 6px;
    left: -105px;
    width: 70px;
    height: 70px;
  }
}

@media(max-width: 1000px) {
  .about {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .about__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .about__wrapper {
    display: grid;
    grid-template-columns: 382px 278px;
    grid-template-rows: 1fr auto;
    row-gap: 41px;
  }

  .about__wrapper::before {
    max-width: 382px;
    height: 380px;
  }

  .about__wrapper-wrap {
    display: contents;
    max-width: 278px;
  }

  .about__wrapper-description {
    align-self: center;
    margin-bottom: 0;
  }

  .about__description {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 22px;
  }

  .blockquote {
    grid-column: 1 / span 2;
  }

  .blockquote-description {
    max-width: 688px;
    font-size: 32px;
    padding-left: 22px;
    margin-bottom: 23px;
  }

  .blockquote-description::before {
    font-size: 32px;
  }

  .blockquote-description::after {
    right: 122px;
    font-size: 32px;
  }

  .blockquote-author::before {
    left: -95px;
  }
}

@media(max-width: 760px) {
  .about__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr auto;
    row-gap: 41px;
  }

  .about__wrapper-description {
    grid-row: 1 / 2;
  }

  .about__wrapper::before {
    grid-row: 2 / 3;
    justify-self: center;
  }

  .blockquote-description {
    max-width: 460px;
  }

  .blockquote-description::after {
    right: 180px;
  }
}

@media(max-width: 600px) {
  .about {
    padding-top: 30px;
    padding-bottom: 15px;
  }

  .about__title {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .about__wrapper {
    row-gap: 0;
  }

  .about__wrapper::before {
    width: 280px;
    height: 280px;
    margin-bottom: 21px;
  }

  .about__wrapper-description {
    margin-bottom: 14px;
  }

  .about__description {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px;
  }

  .blockquote-description {
    max-width: 280px;
    font-size: 18px;
    line-height: 26px;
    align-self: center;
    padding-left: 15px;
    margin-bottom: 14px;
  }

  .blockquote-description::before {
    top: -27px;
    font-size: 22px;
    line-height: 50px;
  }

  .blockquote-description::after {
    right: 117px;
    bottom: -13px;
    font-size: 22px;
    line-height: 50px;
  }

  .blockquote-author {
    width: 213px;
    font-size: 12px;
    line-height: 16px;
  }

  .blockquote-author::before {
    top: -4px;
    left: -67px;
    width: 56px;
    height: 56px;
  }

  .contents {
    display: block;
  }
}
