.form__fieldset {
  display: flex;
  justify-content: space-between;
  border: none;
  margin-bottom: 60px;
}

.form__legend {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 40px;
}

.form__label-hall {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 55px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out;
  cursor: pointer;
  outline: none;
}

.form__input-button_hidden {
  position: fixed;
  transform: scale(0);
}

/* .form__input-button {
  width: 250px;
  height: 55px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out;
  cursor: pointer;
  outline: none;
} */

.form__label-hall:hover {
  background-color: #EADEED;
  border: 3px solid var(--dark-purple);
}

.form__label-hall:focus {
  border: 3px solid var(--dark-purple);
}

.form__input-button_hidden:checked + .form__label-hall {
  color: #fff;
  background-color: var(--purple-color);
  border: 3px solid #FFFFFF;
}

.form__fieldset_game {
  max-width: 980px;
  margin: 0 auto 60px;
}

.form__fieldset-console {
  display: flex;
  flex-direction: column;
  flex-basis: 280px;
  border: none;
}

.form__legend_console {
  text-align: left;
  margin-bottom: 23px;
}

.form__label-console {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
}

.form__label-console:not(:last-child) {
  margin-bottom: 20px;
}

.form__input-radio {
  width: 27px;
  height: 27px;
  margin-right: 12px;
  transition: border 0.2s ease-in-out;
  outline: none;
}

.form__input-radio:focus {
  outline: 1px solid var(--main-color);
}

.form__fieldset-desktop {
  position: relative;
  right: 43px;
  display: flex;
  flex-direction: column;
  border: none;
}

.form__legend_desktop {
  text-align: left;
  margin-bottom: 23px;
}

.form__input-checkbox{
  width: 25px;
  height: 25px;
  margin-right: 12px;
  transition: border 0.2s ease-in-out;
  outline: none;
}

.form__input-checkbox:focus {
  outline: 1px solid var(--main-color);
}

.form__label-desktop {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
}

.form__label-desktop:not(:last-child) {
  margin-bottom: 20px;
}

.form__fieldset-optional {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  border: none;
}

.form__legend_optional {
  text-align: left;
  margin-bottom: 23px;
}

.form__label-optional {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
}

.form__label-optional:not(:last-child) {
  margin-bottom: 20px;
}

.form__fieldset-time {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 14px;
  max-width: 980px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.form__legend-time {
  text-align: center;
  margin-bottom: 38px;
}

.form__label-wrapper {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 52px;
}

.form__label-name, 
.form__label-surname,
.form__label-phone,
.form__label-mail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 74px;
  font-size: 14px;
  line-height: 16px;
}

.form__input-date {
  position: relative;
  width: 134px;
  height: 52px;
  transition: border 0.2s ease-in-out;
  outline: none;
}

.form__input-date::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #211E1E;
}

/* .form__input-date::-webkit-datetime-edit {
  display: none;
} */

/* .form__input-date::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 22px;
  top: 17px;
  width: 21px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 12L0.406734 0.75L18.5933 0.75L9.5 12Z' fill='%23211E1E'/%3E%3C/svg%3E%0A");
} */

.form__input-time {
  width: 134px;
  height: 52px;
  transition: border 0.2s ease-in-out;
  outline: none;
}


.form__input-name,
.form__input-surname {
  width: 280px;
  height: 52px;
  transition: border 0.2s ease-in-out;
  outline: none;
}


.form__input-count,
.form__input-phone, 
.form__input-mail {
  width: 300px;
  height: 52px;
  transition: border 0.2s ease-in-out;
  outline: none;
}

.form__input-date:focus,
.form__input-time:focus,
.form__input-name:focus,
.form__input-surname:focus,
.form__input-count:focus,
.form__input-phone:focus,
.form__input-mail:focus {
  border: 2px solid var(--main-color);
}

.form__wrapper-submit {
  display: flex;
  justify-content: flex-end;
  max-width: 980px;
  margin: 0 auto;
}

.form__submit {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  color: var(--purple-color);
  background-color: #FFFFFF;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px #ffffff;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
  outline: none;
  padding: 16px 50px;
}

.form__submit:hover {
  background-color: #EADEED;
  border: 3px solid var(--purple-color);
}

.form__submit:active {
  background-color: #EADEED;
  border: none;
}

.form__submit:focus {
  border: 3px solid var(--purple-color);
}

@media(max-width: 1240px) {
  .form__legend {
    margin-bottom: 26px;
  }

  .form__label-hall {
    width: 180px;
    height: 44px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 6px;
  }

  .form__fieldset_game {
    display: grid;
    grid-template-columns: 280px 289px 255px;
    column-gap: 40px;
    margin: 0 auto 57px;
  }

  .form__fieldset-desktop {
    right: 0;
  }

  .form__fieldset-console {
    flex-basis: 236px;
  }

  .form__input-name,
  .form__input-surname {
    width: 251px;
  }

  .form__input-phone {
    width: 252px;
  }

  .form__fieldset-time {
    margin-bottom: 50px;
  }

  .form__submit {
    font-size: 18px;
    line-height: 24px;
    padding: 13px 46px;
  }
}

@media(max-width: 1000px) {
  .form__legend {
    margin-bottom: 30px;
  }

  .form__fieldset {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .form__label-hall {
    width: 150px;
    height: 38px;
    font-size: 16px;
    line-height: 20px;
  }

  .form__fieldset_game {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 272px 151px;
    row-gap: 32px;
    column-gap: 46px;
  }

  .form__legend_console,
  .form__legend_desktop,
  .form__legend_optional {
    margin-bottom: 24px;
  }

  .form__fieldset-desktop {
    grid-column-start: 2;
  }

  .form__input-radio {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .form__input-checkbox {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .form__fieldset-time {
    display: grid;
    grid-template-columns: 280px 300px;
    margin-bottom: 48px;
  }

  .form__legend-time {
    margin-bottom: 30px;
  }

  .form__label-wrapper {
    width: 282px;
    margin-bottom: 28px;
  }

  .form__label-name {
    order: 3;
  }

  .form__input-name {
    width: 280px;
  }

  .form__label-count {
    align-self: flex-start;
  }

  .form__label-phone {
    order: 4;
  }

  .form__input-phone {
    width: 300px;
  }

  .form__label-surname {
    order: 5;
  }

  .form__input-surname {
    width: 280px;
  }

  .form__label-mail {
    order: 6;
  }

  .form__submit {
    font-size: 22px;
    line-height: 28px;
    padding: 16px 50px;
  }
}

@media(max-width: 680px) {
  .form__legend {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .form__fieldset {
    margin-bottom: 30px;
  }

  .form__legend-time {
    margin-bottom: 25px;
  }

  .form__fieldset_button {
    gap: 14px;
    max-width: 280px;
    margin: 0 auto 30px;
  }

  .form__label-hall {
    width: 130px;
    height: 30px;
    font-size: 14px;
    line-height: 18px;
    border-radius: 4px;
  }

  .form__fieldset_game {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 25px;
    justify-items: center;
  }

  .form__input-radio {
    width: 30px;
    height: 30px;
  }

  .form__label-console,
  .form__label-desktop,
  .form__label-optional {
    font-size: 16px;
    line-height: 18px;
  }

  .form__label-console:not(:last-child) {
    margin-bottom: 15px;
  }

  .form__fieldset-console,
  .form__fieldset-desktop,
  .form__fieldset-optional {
    max-width: 280px;
    width: 100%;
  }

  .form__fieldset-desktop {
    grid-column-start: 1;
  }

  .form__input-checkbox {
    width: 30px;
    height: 30px;
  }

  .form__legend_console,
  .form__legend_desktop,
  .form__legend_optional {
    margin-bottom: 15px;
  }

  .form__fieldset-optional {
    height: auto;
  }

  .form__fieldset-time {
    grid-template-columns: 1fr;
    gap: 15px;
    justify-items: center;
    margin-bottom: 34px;
  }

  .form__label-wrapper {
    width: 280px;
    margin-bottom: 0;
  }

  .form__label-surname {
    order: 3;
  }

  .form__label-count,
  .form__label-surname {
    margin-bottom: 20px;
  }

  .form__input-count,
  .form__input-phone,
  .form__input-mail {
    width: 280px;
  }

  .form__wrapper-submit {
    justify-content: center;
  }

  .form__submit {
    font-size: 18px;
    line-height: 26px;
    border-radius: 4px;
    box-shadow: 0 0 5px #ffffff;
    padding: 17px 58px;
  }
}
